.login-card, .register-card {
  max-width: 300px;
  margin: 0 auto;
}

.love-message {
  margin-top: 64px;
  text-align: center;
}
#backCover {
  height: 935px;
  background: url("/assets/images/street_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
//
//
