<div ng-include="'components/shell/shell.html'"></div>

<md-content>
  <md-tabs md-dynamic-height="" md-border-bottom="">

    <!-- First Tab - List Layout -->
    <md-tab>
      <md-tab-label>
        <i class="material-icons">view_list</i>
      </md-tab-label>
      <md-tab-body>
        <md-content>
          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
            <div>
              <md-input-container>
                <label>Search Person</label>
                <input ng-model="personSearch">
              </md-input-container>
            </div>
          </md-content>
          <md-content>
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="person in peopleData | filter:personSearch">
                <img ng-src="{{person.user.picture.thumbnail}}" class="md-avatar" alt="{{person.user.username}}"/>
                <div class="md-list-item-text">
                  <h3><i class="material-icons" style="font-size:18px;">person</i> {{person.user.name.first| capitalize}} {{person.user.name.last | capitalize}}</h3>
                  <h4><i class="material-icons" style="font-size:18px;">phone</i> {{person.user.phone}}</h4>
                  <p><i class="material-icons" style="font-size:18px;">email</i> {{person.user.email}}</p>
                </div>
                <md-divider inset=""></md-divider>
              </md-list-item>
            </md-list>
          </md-content>
        </md-content>
      </md-tab-body>
    </md-tab>

    <!-- Second Tab - Card Layout -->
    <md-tab>
      <md-tab-label>
        <i class="material-icons">view_module</i>
      </md-tab-label>
      <md-tab-body>
         <div class='md-padding' layout="row" layout-wrap>
          <md-card style="width: 350px;" ng-repeat="person in peopleData">
            <img src="{{person.user.picture.large}}" style="width: 350px; height:350px;" class="md-card-image" alt="{{person.user.username}}'s avatar">
            <md-card-content>
              <h2>{{person.user.name.title | capitalize}} {{person.user.name.first | capitalize}} {{person.user.name.last | capitalize}}</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button>Save</md-button>
              <md-button>View</md-button>
            </div>
          </md-card>
        </div>
      </md-tab-body>
    </md-tab>

    <!-- Third Tab - Quilt Layout -->
    <md-tab>
      <md-tab-label>
        <i class="material-icons">view_quilt</i>
      </md-tab-label>
      <md-tab-body>
        <md-grid-list class="things-list" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter="8px" md-gutter-gt-sm="4px">
          <md-grid-tile ng-repeat="person in peopleData" ng-class="getColor($index)" md-rowspan="{{getSpan($index)}}"
                          md-colspan="{{getSpan($index)}}"
                          md-colspan-sm="1">

            <img ng-src="{{person.user.picture.medium}}" class="md-avatar" alt="{{person.user.username}}"/>
            <md-grid-tile-footer><h3>{{person.user.name.title}} {{person.user.name.first}} {{person.user.name.last}} <span style="color: #e3e3e3">@{{person.user.username}}</span></h3></md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
